<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:tpp="https://informatizza.com.br" layout:decorate="'layout/base'">

<section layout:fragment="conteudo">
	<div class="adminx-main-content">
		<div class="container-fluid">


			<!-- BreadCrumb -->
			<nav aria-label="breadcrumb" role="navigation">
				<ol class="breadcrumb adminx-page-breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
					<li class="breadcrumb-item active" aria-current="page">Pontuações</li>
				</ol>
			</nav>

			<th:block th:include="fragments/msg-informacao"></th:block>

			<th:block th:include="fragments/msg-sucesso"></th:block>

			<div class="card">
				<div class="card-body">

					<div class="pb-3 d-flex align-items-center">
						<h1 class="mr-4">Pontuações</h1>
						<a th:href="@{/pontuacoes/create}" class="btn btn-info accent-3"
							title="Novo time"> <i data-feather="plus"></i>
						</a>
					</div>


					<form method="GET" th:object="${pontuacaoFilter}">
						<div class="row">
							<div class="form-group col-sm-6">
								<label for="dataInicio" class="control-label">Data
									início</label> <input id="dataInicio" type="text" class="form-control"
									th:field="*{dataInicio}" />
							</div>
							<div class="form-group col-sm-6">
								<label for="dataFim" class="control-label">Data fim</label> <input
									id="dataFim" type="text" class="form-control"
									th:field="*{dataFim}" />
							</div>
						</div>
						<button type="submit" class="btn btn-primary">Pesquisar</button>

					</form>

					<div class="table-responsive mt-4">

						<table class="table table-striped">
							<thead class="thead-dark">
								<tr>
									<th>Jogo</th>
									<th>Placar</th>
									<th>Mínimo da temporada</th>
									<th>Máximo da temporada</th>
									<th>Quebra recorde min.</th>
									<th>Quebra recorde máx.</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="pontuacao : ${pontuacoes}">
									<td><a
										th:href="@{/jogos/{id}/edit(id=${pontuacao.jogo.id})}"
										th:title="|Jogo entre ${pontuacao.jogo.timeCasa.nome} X ${pontuacao.jogo.timeVisitante.nome} ocorrido em ${{pontuacao.jogo.data}}|"
										th:text="${pontuacao.jogo.id}"></a></td>
									<td th:text="${pontuacao.placar}"></td>
									<td th:text="${pontuacao.minimoTemporada}"></td>
									<td th:text="${pontuacao.maximoTemporada}"></td>
									<td th:text="${pontuacao.quebraRecordeMinimo}"></td>
									<td th:text="${pontuacao.quebraRecordeMaximo}"></td>
									<td class="text-center"><a class="btn btn-link btn-xs"
										title="Editar"
										th:href="@{/pontuacoes/{id}/edit(id=${pontuacao.id})}"> <i
											class="oi oi-pencil"></i>
									</a> <a class="btn btn-link btn-xs text-danger js-btn-exclusao"
										title="Excluir" href="#"
										th:data-url="@{/pontuacoes/{id}(id=${pontuacao.id})}"
										th:data-objeto="|a pontuação do jogo entre ${pontuacao.jogo.timeCasa.nome} X ${pontuacao.jogo.timeVisitante.nome} ocorrido em ${{pontuacao.jogo.data}}|">
											<i class="oi oi-trash"></i>
									</a></td>
								</tr>
								<tr th:if="${pontuacoes.empty}">
									<td colspan="7" class="text-center">Nenhuma pontuação
										encontrada!</td>
								</tr>
							</tbody>
						</table>

					</div>

				</div>
			</div>
		</div>
	</div>
</section>

</html>
